html {
  font-size: 12px;
}

body {
  font-family: 'Roboto';
  background-image: url("../images/the-games-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  padding: 0;
  margin: 0
}

.container {
  position: relative;
  min-height: 90vh;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.home__logo {
  margin-top: 3rem;
  width: 11.25rem;
  height: 11.25rem;
}

.home__title {
  margin: 1.5rem 30%;
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
}

.btn {
  transition: 0.1s;
  margin-top: 2rem;
  border-style: none;
  padding: 1rem 4rem;
  font-weight: 700;
  border-radius: 0.625rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #724C21;
  background-color: #F9B23D;
  text-decoration: none;
  margin-bottom: 10rem;
}

.btn:hover {
  transition: 0.1s;
  background-color: #D29126;
}

.btn:active {
  transition: 0.1s;
  background-color: #b17920;
  outline: none;
}

.btn:focus {
  outline: none;
}

.table-content {
  max-width: 50%;
  margin: 5rem auto;
}

.btn-delete {
  transition: 0.1s;
  border-style: none;
  padding: 1rem 2rem;
  font-weight: 400;
  border-radius: 0.625rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: red;
  text-decoration: none;
}

.btn-delete:hover {
  transition: 0.1s;
  background-color: rgb(187, 0, 0);
}

.btn-delete:active {
  transition: 0.1s;
  background-color: rgb(124, 0, 0);
  outline: none;
}

.btn-delete:focus {
  outline: none;
}

td {
  padding: 20px;
  text-align: center;
}

.table {
  border-collapse: collapse;
  color: white;
  font-size: 1.5rem;
}

.table__header {
  font-weight: 700;
  background-color: #000;
}

.table__body {
  background-color: #fff;
  color: #000;
}

.footer {
  color: #724C21;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: #724C21;
}

.header {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0 1.5rem;
}

.back-btn {
  width: 1.125rem;
  height: 1.125rem;
  text-decoration: none;
}

.header__logo {
  width: 2rem;
  height: 2rem;
  margin: 0 0.875rem 0 1rem;
}

.header__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.round {
  display: flex;
  justify-content: center;
}

.round__title {
  font-size: 2rem;
  color: #ffffff;
}

.content {
  margin-top: 4.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-space {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-space__title {
  color: #F9B23D;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2.5rem;
}

.bot-space {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot-space__title {
  color: #CBB99D;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  /* margin-top: 5rem; */
  margin-bottom: 2.5rem;
}

.rock {
  width: 50px;
  height: 37px;
  padding: 14px 8px;
}

.paper {
  width: 37px;
  height: 50px;
  padding: 9px 14px;
}

.scissors {
  width: 42px;
  height: 50px;
  padding: 8px 12px;
}

.item {
  background-color: #00000000;
  border-style: none;
  transition: 0.1s;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
}

.item__selected {
  background-color: #F9B23D;
}

.item__win {
  background-color: #78D162;
}

.item__draw {
  background-color: #C79E89;
}

.item__lose {
  background-color: #EF6E6E;
}

.available__item:hover {
  transition: 0.1s;
  background-color: #845C48;
}

.available__item:focus {
  background-color: #F9B23D;
  outline: none;
}

.available__item:active {
  outline: none;
  background-color: #694939;
}

.divider {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  margin: 5rem 0;
  height: 7rem;
}

.divider__versus {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.1rem;
}

.divider__caption {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.1rem;
}

.divider__status {
  margin-top: -5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  filter: drop-shadow(1rem 1rem 0rem #00000028);
  transform: rotate(-10deg);
}

.divider__win {
  background-color: #78D162;
}

.divider__lose {
  background-color: #EF6E6E;
}

.divider__draw {
  background-color: #C79E89;
}

.refresh {
  margin-top: -10rem;
  display: flex;
  justify-content: center;
}

.refresh__btn {
  border-radius: 0.75rem;
  width: 43px;
  height: 40px;
  padding: 10px 8px;
}

.refresh__btn:hover {
  transition: 0.1s;
  background-color: #845C48;
}

.refresh__btn:active {
  transition: 0.1s;
  background-color: #694939;
}

.hidden {
  display: none;
}

@media (min-width: 522px) {
  .item {
    margin: 0 0.5rem;
  }
  .rock {
    width: 75px;
    height: 55.5px;
    padding: 21px 12px;
  }
  .paper {
    width: 55.5px;
    height: 75px;
    padding: 15px 21px;
  }
  .scissors {
    width: 63px;
    height: 75px;
    padding: 12px 20px;
  }
}

@media (min-width: 720px) {
  .divider {
    margin: 0;
  }
  .home__logo {
    margin-top: 6.25rem;
    width: 15rem;
    height: 15rem;
  }
  .home__title {
    margin: 2rem 30%;
    font-size: 4.5rem;
  }
  .btn {
    margin-bottom: 12rem;
    padding: 1.5rem 5rem;
    font-size: 2.25rem;
  }
  .header {
    margin: 2.5rem 0 0 4rem;
  }
  .back-btn {
    width: 2rem;
    height: 2rem;
  }
  .header__logo {
    width: 4rem;
    height: 4rem;
    margin: 0 1.5rem 0 2.5rem;
  }
  .header__title {
    font-size: 2rem;
  }
  .content {
    margin-top: 4.5rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .item-group {
    display: flex;
    flex-direction: column;
  }
  .user-space__title {
    font-size: 3rem;
    margin-bottom: 4.5rem;
  }
  .bot-space__title {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 4.5rem;
  }
  .rock {
    width: 110px;
    height: 81.5px;
    padding: 31px 17px;
  }
  .paper {
    width: 80.5px;
    height: 110px;
    padding: 17px 31px;
  }
  .scissors {
    height: 110px;
    width: 92px;
    padding: 17px 26px;
  }
  .item {
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
  }
  .divider {
    text-align: center;
    font-size: 2.5rem;
  }
  .divider__versus {
    font-size: 5rem;
  }
  .divider__status {
    padding: 2rem 2.5rem;
    border-radius: 1rem;
  }
  .refresh__btn {
    border-radius: 0.75rem;
    width: 88px;
    height: 80px;
    padding: 20px 16px;
  }
}

@media (min-width: 1024px) {
  .home__logo {
    margin-top: 11.25rem;
  }
  .home__title {
    margin: 2.5rem 0;
  }
  .btn {
    margin-bottom: 15rem;
  }
  .content {
    margin-top: 0;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .user-space__title {
    margin-bottom: 1.5rem;
  }
  .bot-space__title {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .content {
    margin-left: 20rem;
    margin-right: 20rem;
  }
}