@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../images/the-games-bg.jpg");
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
table {
  width: 600px;
  background: rgba(29, 30, 37, 0.6);
  margin: 10px auto 10px;
  border-radius: 0.25em;
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.99em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #dfab1f;
}
h1 {
  font-size: medium;
  text-align: center;
  font-family: sans-serif;
  color: #E2B842;
  padding: 30px;
}
