.body {
    font-family: 'Open Sans';
    color: #ffffff;
    background-color: #080A09 !important;
}


/* NAVBAR */


.bg-custom {
    background-color: #080A09 !important;
}

.navbar-dark .navbar-nav .signup-link {
    color: #000000;
    background-color: #FEB446;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    padding-left: 10px;
}

.navbar-dark .navbar-nav .custom-link {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    padding-left: 10px;
}


/* SECTION INTRO */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/landing/main-bg.jpg");
    margin-top: -56px;
}

@media (min-width: 1200px) {
    .intro {
        height: 120vh;
    }
}


.intro__caption {
    margin-top: 200px;
}

.intro__caption__text {
    color: #ffffff;
    font-weight: 700;
}

.jumbotron {
    background-color: #ffffff00;
    text-align: center;
    padding-top: 200px;
}

.jumbotron__title  {
    color: #ffffff;
    font-family: 'Bebas Neue';
    font-size: 80px;
}

.jumbotron__caption {
    margin-top: 40px;
    color: #fff;
    font-size: 24px;
}

.jumbotron__btn {
    margin-top: 40px;
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 700;
    background-color: #FEB446;
}

/* SECTION GAME */


.game {
    padding: 20% 10%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/landing/the-games-bg.jpg");    
}

.game__textbox {
    padding: 0;
}

.game__content {
    max-width: 70%;
}

.carousel-item {
    min-height: 200px;
    width: 100%;
}

.carousel-item img {
    width: 100%;
}

/* SECTION FEATURE */


.feature {
    padding: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* background-image: url("../../assets/landing/features.jpg"); */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assets/landing/features.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.feature__box {
    max-width: 50%;
}


.feature__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.feature__content {
    margin-bottom: 80px;
}


/* SECTION SYSTEM REQUIREMENTS */


.sysreq {
    padding: 10%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assets/landing/requirements.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.sysreq__box {
    max-width: 50%;
}

.sysreq__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}


/* SECTION TOP SCORE */


.topscore {
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../../assets/landing/topscore.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.topscore__box {
    margin: 0 40px 40px 0;
}

.topscore__btn {
    margin-top: 40px;
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 700;
    background-color: #FEB446;
}

.topscore__card {
    max-width: 480px;
    background-color: #2f2f2f;
    border-radius: 10px;
    padding: 16px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.topscore__card__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.topscore__card__avatar {
    display: flex;
}

.topscore__card__name {
    margin-left: 20px;
}

.topscore__card__title {
    color: #FEB446;

}

.topscore__card__subtitle {
    color: #c4c4c4;
    font-size: 12px;

}

.topscore__card__comment {
    color: #ffffff;
    
}
.topscore__card__date {
color: #c4c4c4;
font-size: 12px;
    
}

.topscore__card__twitter {
    width: 20px;
    height: 20px;
    background: url(../../assets/landing/twitter.svg);
    background-size: 20px 20px;
}

.circle {
    height: 55px;
    width: 55px;
    background-color: #FEB446;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.thumb{
	width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    position:relative;
    
}

.avatar__image {
    width: 50px;
    height: 50px;
}



/* SECTION NEWSLETTER */

.newsletter {
    padding: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assets/landing/newsletter-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

.newsletter__box {
    max-width: 50%;
}
 
.newsletter__form {
    background-color: #2f2f2f;
    color: #FEB446;
    border: 0px solid;
}

.newsletter__form:focus {
    background-color: #2f2f2f;
    color: #FEB446;
    border-color: #FEB446;
    box-shadow: none;
}

.newsletter__btn {
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 700;
    background-color: #FEB446;
}

/* FOOTER */

.footer {
    padding: 0 5%;
    background-color: #080A09;
}

.footer-link {
    font-size: 10px;
    font-weight: 700;
}

.footer .navbar-dark .navbar-nav .nav-link {
    color: #ffffff
}

.footer .navbar .navbar-nav .nav-item {
    margin: auto 20px;
}

.footer__line {
    padding: 0 20px;
    border: 0.5px solid #ffffff80;
    margin: 0 0;
}

.footer__copy {
    font-size: 12px;
    color: #ffffff80;
}

/* TYPOGRAPHY */

.section__header {
    color: #ffffff;
    font-size: 40px;
}

.section__caption {
    color: #ffffff;
    font-size: 18px;
}

.section__header-2 {
    color: #FFB548;
    font-size: 24px;
}

.section__caption-2 {
    color: #ffffff;
    font-size: 16px;
}

.signup__link {
    color: #FEB446;
}

table, td {
    border: 0.5px solid #ffffff80;
    padding: 20px;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .newsletter {
        height: 80vh;
    }


    .jumbotron__title  {
        font-size: 64px;
    }

    .section__header {
        font-size: 32px;
    }
    
    .section__caption {
        font-size: 16px;
    }

    table, td {
        border: 0.5px solid #ffffff80;
        padding: 10px;
    }

    .section__header-2 {
        font-size: 18px;
    }
    
    .section__caption-2 {
        font-size: 12px;
    }
} 


@media (max-width: 1024px) { 
    .feature__box {
        max-width: 100%;
    }
    
    .sysreq__box {
        max-width: 100%;
    }

    .newsletter__box {
        max-width: 100%;
    }
     
    .game__content {
        max-width: 100%;
    }

    .footer__collapse {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-link {
        font-size: 8px;
        font-weight: 700;
    }

}