img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0px;
}

h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-left: 160px;
}

h1 {
  line-height: 1.8;
  margin-right: 95px;
  padding: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 21px;
  text-align: center;
  margin-bottom: 15px;
}

.clear {
  clear: both;
}

body {
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
  background-image: url("../images/the-games-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  font-weight: 600;
  font-family: Poppins;
  margin: 0px;
}

.main {
  position: relative;
}

.container {
  width: 700px;
  background: rgba(29, 30, 37, 0.6);
  margin: 50px auto 50px;
  ;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}

.booking-form {
  padding: 35px 70px 51px 70px;
}

.header {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  padding: 50px 57px;
}

input {
  border: none;
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #222;
  display: block;
  font-family: Poppins;
  position: relative;
  z-index: 9;
}

input::-webkit-input-placeholder {
  color: #999;
}

input::-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

input:-moz-placeholder {
  color: #999;
}

.submit {
  background: #f8ba0f;
  color: #fff;
  font-size: 14px;
  margin-left: 190px;
  margin-bottom: 5px;
  margin-top: -54px;
  padding: 15px 20px;
  cursor: pointer;
}

.submit:hover {
  background-color: #ce9906;
}

.form-group {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
}

.form-destination {
  margin-left: -50px;
  width: 230px;
}

.form-submit {
  width: 100px;
}

.modify-qty {
  position: absolute;
  right: 12px;
  font-size: 18px;
  color: #999;
  z-index: 99;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    width: calc( 100% - 30px);
    max-width: 100%;
  }
  .form-group {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }
}

table {
  width: 480px;
  margin: 50px auto 50px;
  border-radius: 0.25em;
  border-collapse: collapse;
}

.list {
  margin-top: -80px;
  font-size: 20px;
}

th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

tbody tr {
  transition: background 0.25s ease;
}

tbody tr:hover {
  background: #dfab1f;
}