<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play Game</title>
  <!-- <link rel="shortcut icon" href="assets/game/favicon.ico" type="image/x-icon"> -->
  <link rel="icon" href="<%=process.env.APP_URL%>/assets/game/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="<%=process.env.APP_URL%>/css/game.css">

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="<%=process.env.APP_URL%>/room"><img class="back-btn"
          src="<%=process.env.APP_URL%>/assets/game/back-arrow.png" alt=""></a>
      <img class="header__logo" src="<%=process.env.APP_URL%>/assets/game/logo-1.png" alt="">
      <h2 class="header__title">ROCK PAPER SCISSORS</h2>
    </div>

    <div class="round">
      <h2 class="round__title">ROOM <%= data.roomName.toUpperCase() %>
      </h2>
    </div>

    <div class="content" id="game">
      <div class="user-space">
        <h1 class="user-space__title" id="current-user-title"></h1>
        <div class="item-group">
          <img id="rock" class="rock item user__item available__item"
            src="<%=process.env.APP_URL%>/assets/game/batu.png" alt="">
          <img id="paper" class="paper item user__item available__item"
            src="<%=process.env.APP_URL%>/assets/game/kertas.png" alt="">
          <img id="scissors" class="scissors item user__item available__item"
            src="<%=process.env.APP_URL%>/assets/game/gunting.png" alt="">
        </div>
      </div>
      <div class="divider">
        <div class="divider__versus">VS</div>
        <div class="divider__caption hidden">(Waiting for opponent to choose)</div>
        <div class="divider__win divider__status hidden">
          YOU<br>WIN!
        </div>
        <div class="divider__lose divider__status hidden">YOU<br>LOST..</div>
        <div class="divider__draw divider__status hidden">DRAW</div>
      </div>
      <div class="bot-space" id="opponent-space">
        <h1 class="bot-space__title" id="opponent-title"></h1>
        <div class="item-group" id="opponent-items">
          <img class="rock item bot__item" src="<%=process.env.APP_URL%>/assets/game/batu.png" alt="">
          <img class="paper item bot__item" src="<%=process.env.APP_URL%>/assets/game/kertas.png" alt="">
          <img class="scissors item bot__item" src="<%=process.env.APP_URL%>/assets/game/gunting.png" alt="">
        </div>
      </div>
    </div>

    <div class="refresh">
      <img id="refresh" src="<%=process.env.APP_URL%>/assets/game/refresh.png" class="refresh__btn hidden" alt="">
    </div>

  </div>

  <span id='decodedEjs' hidden>
    <%= JSON.stringify(decoded) %>
  </span>
  <span id='dataEjs' hidden>
    <%= JSON.stringify(data) %>
  </span>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="<%=process.env.APP_URL%>/js/game.js"></script>
  <script>

    let decoded = JSON.parse($('#decodedEjs').text());
    $('#decodedEjs').remove();
    let data = JSON.parse($('#dataEjs').text());
    $('#dataEjs').remove();

    // Variables

    const player1 = data.player1Foreign
    const player2 = data.player2Foreign
    let role
    let currentUserHasChosen
    let opponentHasChosen
    let currentUserChoice
    let opponentChoice
    let currentUserStatus
    let gameResult

    const roundNumberText = document.querySelector('.round__number')
    const versusCaption = document.querySelector('.divider__caption')
    const versusText = document.querySelector('.divider__versus')
    const statusWinText = document.querySelector('.divider__win')
    const statusLoseText = document.querySelector('.divider__lose')
    const statusDrawText = document.querySelector('.divider__draw')
    const refreshBtn = document.querySelector('.refresh__btn')

    // Functions

    const lockChoice = (choice) => {
      currentUserHasChosen = true
      document.getElementsByClassName(`${choice} user__item`)[0].classList.add('item__selected')

      const userItems = document.getElementsByClassName('user__item')
      for (const item of userItems) {
        item.classList.remove('available__item')
      }
    }

    const showResults = () => {
      versusText.classList.add('hidden')
      if (currentUserStatus === 'win') {
        statusWinText.classList.remove('hidden')
        document.getElementsByClassName(`${currentUserChoice} user__item`)[0].classList.add('item__win')
        document.getElementsByClassName(`${opponentChoice} bot__item`)[0].classList.add('item__lose')
      } else if (currentUserStatus === 'lose') {
        statusLoseText.classList.remove('hidden')
        document.getElementsByClassName(`${currentUserChoice} user__item`)[0].classList.add('item__lose')
        document.getElementsByClassName(`${opponentChoice} bot__item`)[0].classList.add('item__win')
      } else {
        statusDrawText.classList.remove('hidden')
        document.getElementsByClassName(`${currentUserChoice} user__item`)[0].classList.add('item__draw')
        document.getElementsByClassName(`${opponentChoice} bot__item`)[0].classList.add('item__draw')
      }
      // refreshBtn.classList.remove('hidden')
    }

    const clearResults = () => {
      const userItems = document.getElementsByClassName('user__item')
      const allItems = document.getElementsByClassName('item')

      for (const item of userItems) {
        item.classList.add('available__item')
      }

      for (const item of allItems) {
        item.classList.remove('item__win', 'item__lose', 'item__draw')
      }

      versusText.classList.remove('hidden')
      statusWinText.classList.add('hidden')
      statusLoseText.classList.add('hidden')
      statusDrawText.classList.add('hidden')
      refreshBtn.classList.add('hidden')
    }

    // API

    const requestGameChoice = async (choice, role) => {
      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${document.cookie.split('=')[1]}`
        },
        body: JSON.stringify({ choice, role, roomName: data.roomName }),
      }

      await fetch('<%=process.env.APP_URL%>/api/v1/game/choose', options)
        .then((response) => response.json())
        .then((result) => {
          console.log('choice sent')
        })
        .catch(() => res.status(500).json({ message: 'Internal Server Error' }),)
    }

    const requestGameResult = async () => {
      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${document.cookie.split('=')[1]}`
        },
        body: JSON.stringify({ player1_choice: data.player1_choice, player2_choice: data.player2_choice, roomName: data.roomName }),
      }

      await fetch('<%=process.env.APP_URL%>/api/v1/game/result', options)
        .then((response) => response.json())
        .then((result) => {
          console.log(result)
          console.log(result)
          currentUserStatus = (data.player1 === decoded.id) ? result.player1_result : result.player2_result
          opponentChoice = (data.player1 === decoded.id) ? data.player2_choice : data.player1_choice
          console.log(`ini dia ${currentUserStatus}`)
        })
        .catch(() => res.status(500).json({ message: 'Internal Server Error' }),)
    }

    const requestRefreshGame = async () => {
      const options = {
        method: 'GET',
      }

      await fetch('api/v1/game/refresh', options)
        .then((response) => response.json())
        .then((result) => {
          console.log(result)
          gameResult = result.result
          player1Choice = result.player1Choice
          player2Choice = result.player2Choice
        })
        .catch(() => res.status(500).json({ message: 'Internal Server Error' }),)
    }

    // DOM

    document.getElementById('rock').addEventListener('click', async () => {
      if (!currentUserHasChosen && player2) {
        await requestGameChoice('rock', role)
        lockChoice('rock')
        versusCaption.classList.remove('hidden')
      }
    })

    document.getElementById('paper').addEventListener('click', async () => {
      if (!currentUserHasChosen && player2) {
        await requestGameChoice('paper', role)
        lockChoice('paper')
        versusCaption.classList.remove('hidden')
      }
    })

    document.getElementById('scissors').addEventListener('click', async () => {
      if (!currentUserHasChosen && player2) {
        await requestGameChoice('scissors', role)
        lockChoice('scissors')
        versusCaption.classList.remove('hidden')
      }
    })

    document.getElementById('refresh').addEventListener('click', async () => {
      clearResults()
      await requestRefreshGame()
    })


    const updateRoom = async () => {
      // Log in as player 1
      if (decoded.id === data.player1) {
        currentUserChoice = data.player1_choice

        if (currentUserChoice) {
          lockChoice(currentUserChoice)
          versusCaption.classList.remove('hidden')
        }
        $('#current-user-title').append(player1.name)
        role = 1

        if (player2) {
          $('#opponent-title').append(player2.name)
        } else {
          $('#opponent-items').remove()
          $('#opponent-space').append('<h1 class="bot-space__title">WAITING FOR OTHER PLAYER</h1>')
          $('.divider__versus').addClass('hidden')

          const userItems = document.getElementsByClassName('user__item')

          for (const item of userItems) {
            item.classList.remove('available__item')
          }
        }

        if (data.status === 'finished') {
          currentUserStatus = data.player1_result
          opponentChoice = data.player2_choice
          showResults()
        }

      }

      // Log in as player 2
      if (decoded.id === data.player2) {
        currentUserChoice = data.player2_choice
        if (currentUserChoice) {
          lockChoice(currentUserChoice)
          versusCaption.classList.remove('hidden')
        }
        $('#current-user-title').append(data.player2Foreign.name)
        $('#opponent-title').append(data.player1Foreign.name)
        role = 2

        if (data.status === 'finished') {
          currentUserStatus = data.player2_result
          opponentChoice = data.player1_choice
          showResults()
        }
      }

      // Non PLayer 1 or 2 Joins
      if (decoded.id !== data.player1 && decoded.id !== data.player2 && data.player2 !== null) {
        $('#current-user-title').append(data.player1Foreign.name)
        $('#opponent-title').append(data.player2Foreign.name)
        // Tidak bisa klik apa apa => delete class .available__item
      }

      if ((data.player1_choice && data.player2_choice) && (data.status !== 'finished')) {
        await requestGameResult()
        console.log(currentUserStatus)
        console.log(currentUserChoice)
        console.log(opponentChoice)
        showResults()
      }
    }


    window.onload = updateRoom()
  </script>

</body>

</html>