<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play Game</title>
  <!-- <link rel="shortcut icon" href="assets/game/favicon.ico" type="image/x-icon"> -->
  <link rel="icon" href="<%=process.env.APP_URL%>/assets/game/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="<%=process.env.APP_URL%>/css/game.css">

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/"><img class="back-btn" src="<%=process.env.APP_URL%>/assets/game/back-arrow.png" alt=""></a>
      <img class="header__logo" src="<%=process.env.APP_URL%>/assets/game/logo-1.png" alt="">
      <h2 class="header__title">ROCK PAPER SCISSORS</h2>
    </div>

    <div class="round">
      <h2 class="round__title">ROUND</h2>
    </div>

    <div class="content" id="game">
      <div class="user-space">
        <h1 class="user-space__title">USER</h1>
        <div class="item-group">
          <img id="rock" class="rock item user__item available__item" src="assets/game/batu.png" alt="">
          <img id="paper" class="paper item user__item available__item" src="assets/game/kertas.png" alt="">
          <img id="scissors" class="scissors item user__item available__item" src="assets/game/gunting.png" alt="">
        </div>
      </div>
      <div class="divider">
        <div class="divider__versus">VS</div>
        <div class="divider__win divider__status hidden">USER<br>WINS!</div>
        <div class="divider__lose divider__status hidden">BOT<br>WINS..</div>
        <div class="divider__draw divider__status hidden">DRAW</div>
      </div>
      <div class="bot-space">
        <h1 class="bot-space__title">BOT</h1>
        <div class="item-group">
          <img class="rock item bot__item" src="assets/game/batu.png" alt="">
          <img class="paper item bot__item" src="assets/game/kertas.png" alt="">
          <img class="scissors item bot__item" src="assets/game/gunting.png" alt="">
        </div>
      </div>
    </div>

    <div class="refresh">
      <img id="refresh" src="<%=process.env.APP_URL%>/assets/game/refresh.png" class="refresh__btn hidden" alt="">
    </div>

  </div>

  <script src="<%=process.env.APP_URL%>/js/game.js"></script>
</body>

</html>