<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History</title>
  <link rel="stylesheet" href="<%=process.env.APP_URL%>/css/history.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark  justify-content-end" style="background-color: #000000;">
    <a class="navbar-brand" href="<%=process.env.APP_URL%>/room"><svg width="2em" height="2em" viewBox="0 0 16 16"
        class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="<%=process.env.APP_URL%>/room">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>HISTORY PAGE</h1>
  <table>
    <thead>
      <tr>
        <th>No
        <th>Room Name
        <th>Player 1
        <th>Player 2
        <th>Winner
        <th>Time
    </thead>
    <tbody>
      <% Object.keys(data).forEach((prop)=> { %>
        <tr>
          <td>
            <%- parseInt(prop) + 1 %>
          <td>
            <%- data[prop].roomName %>
          <td>
            <%- data[prop].player1Foreign.name %>
          <td>
            <%- data[prop].player2Foreign.name %>
          <td>
            <%- (data[prop].player1_result==='win' ) ? data[prop].player1Foreign.name :
              ((data[prop].player1_result==='draw' ) ? 'DRAW' : data[prop].player2Foreign.name ) %>
          <td>
            <%- data[prop].updatedAt.toLocaleString() %>
              <% }) %>
    </tbody>
  </table>
</body>

</html>