<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors Game</title>

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/landing.css">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-custom">
      <div class="container">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link custom-link" href="#intro">MAIN</a></li>
            <li class="nav-item"><a class="nav-link custom-link" href="#game">ABOUT</a></li>
            <li class="nav-item"><a class="nav-link custom-link" href="#feature">GAME FEATURES</a></li>
            <li class="nav-item"><a class="nav-link custom-link" href="#sysreq">SYSTEM REQUIREMENTS</a></li>
            <li class="nav-item"><a class="nav-link custom-link" href="#topscore">QUOTES</a></li>
          </ul>
          <ul class="navbar-nav">
            <%if (!decoded) {%>
              <li class="nav-item"><a href="<%=process.env.APP_URL%>/auth/register" class="nav-link signup-link">SIGN
                  UP</a>
              </li>
              <li class="nav-item"><a href="<%=process.env.APP_URL%>/auth/login" class="nav-link custom-link">LOG IN</a>
              </li>
              <%} else {%>
                <li class="nav-item"><a href="<%=process.env.APP_URL%>/profile" class="nav-link custom-link">
                    <%=decoded.name.toUpperCase()%>
                  </a>
                </li>
                <li class="nav-item"><a href="<%=process.env.APP_URL%>/auth/logout" class="nav-link custom-link"
                    id="logout">LOG OUT</a>
                </li>
                <%}%>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="intro" id="intro">
    <div class="jumbotron">
      <h1 class="jumbotron__title">PLAY TRADITIONAL GAME</h1>
      <p class="jumbotron__caption">Experience new traditional gameplay</p>
      <a class="btn btn-lg jumbotron__btn" href="<%=process.env.APP_URL%>/room" role="button">PLAY NOW</a>
    </div>

    <div class="intro__caption">
      <p class="intro__caption__text">The Story</p>

    </div>

  </div>

  <div class="game" id="game">
    <p class="section__caption">What's so special?</p>
    <div class="d-flex justify-content-between flex-wrap">
      <div class="game__textbox">
        <h2 class="section__header">THE GAMES</h2>
      </div>
      <div id="carouselControls" class="game__content carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselControls" data-slide-to="0" class="active"></li>
          <li data-target="#carouselControls" data-slide-to="1"></li>
          <li data-target="#carouselControls" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/landing/rockpaperstrategy-1600.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/landing/rockpaperstrategy-1600.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/landing/rockpaperstrategy-1600.jpg" class="d-block" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <div class="feature" id="feature">
    <div class="feature__box">
      <div class="feature__header">
        <p class="section__caption">What's so special?</p>
        <h2 class="section__header">FEATURES</h2>
      </div>
      <div class="feature__content">
        <h3 class="section__header-2">TRADITIONAL GAMES</h3>
        <p class="section__caption-2">If you miss your childhood, we provide many traditional games here
        </p>
      </div>
      <div class="feature__content">
        <h3 class="section__header-2">GAME SUIT</h3>
      </div>
      <div class="feature__content">
        <h3 class="section__header-2">TBD</h3>
      </div>
    </div>
  </div>

  <div class="sysreq" id="sysreq">
    <div class="sysreq__box">
      <div class="sysreq__header">
        <p class="section__caption">Can my computer run this game?</p>
        <h2 class="section__header">SYSTEM REQUIREMENTS</h2>
      </div>
      <table class="">
        <tbody>
          <tr>
            <td>
              <h3 class="section__header-2">OS:</h3>
              <p class="section__caption-2">Windows 7 64-bit only (No OSX support at this time</p>
            </td>
            <td>
              <h3 class="section__header-2">PROCESSOR:</h3>
              <p class="section__caption-2">Intel Core 2 Duo @ 2.4 GHz or AMD Athlon X2 @ 2.8 GHz</p>
            </td>
          </tr>
          <tr>
            <td>
              <h3 class="section__header-2">MEMORY:</h3>
              <p class="section__caption-2">4 GB RAM</p>
            </td>
            <td>
              <h3 class="section__header-2">STORAGE:</h3>
              <p class="section__caption-2">8 GB available space</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h3 class="section__header-2">GRAPHICS:</h3>
              <p class="section__caption-2">Nvidia GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11
                (Shader Model 5)</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


  <div class="topscore" id="topscore">
    <div class="topscore__box ">
      <h2 class="section__header">TOP SCORES</h2>
      <p class="section__caption">The top score from various games are provided on this platform</p>
      <a class="btn btn-lg topscore__btn" href="#" role="button">See More</a>
    </div>

    <div class="topscore__content">
      <div class="topscore__card">
        <div class="topscore__card__header">
          <div class="topscore__card__avatar">
            <div class="circle">
              <div class="thumb">
                <img class="avatar__image" src="assets/landing/evan.jpg" alt="img">
              </div>
            </div>
            <div class="topscore__card__name">
              <div class="topscore__card__title">EVAN LAHTI</div>
              <div class="topscore__card__subtitle">PC Gamer</div>
            </div>
          </div>
          <div class="topscore__card__twitter"></div>
        </div>
        <div class="topscore__card__content">
          <p class="topscore__card__comment">
            "One of my gaming highlights of the year."
          </p>
          <p class="topscore__card__date">
            October 18, 2018
          </p>
        </div>
      </div>

      <div class="topscore__card">
        <div class="topscore__card__header">
          <div class="topscore__card__avatar">
            <div class="circle">
              <div class="thumb">
                <img class="avatar__image" src="assets/landing/jada.jpg" alt="img">
              </div>
            </div>
            <div class="topscore__card__name">
              <div class="topscore__card__title">JADA GRIFFIN</div>
              <div class="topscore__card__subtitle">Nerd Reactor</div>
            </div>
          </div>
          <div class="topscore__card__twitter"></div>
        </div>
        <div class="topscore__card__content">
          <p class="topscore__card__comment">
            "The next big thing in the world of streaming and survival games."
          </p>
          <p class="topscore__card__date">
            December 21, 2018
          </p>
        </div>
      </div>

      <div class="topscore__card">
        <div class="topscore__card__header">
          <div class="topscore__card__avatar">
            <div class="circle">
              <div class="thumb">
                <img class="avatar__image" src="assets/landing/aaron.jpg" alt="img">
              </div>
            </div>
            <div class="topscore__card__name">
              <div class="topscore__card__title">AARON WILLIAMS</div>
              <div class="topscore__card__subtitle">Uproxx</div>
            </div>
          </div>
          <div class="topscore__card__twitter"></div>
        </div>
        <div class="topscore__card__content">
          <p class="topscore__card__comment">
            "Snoop Dogg playing the wildly entertaining 'SOS' is ridiculous."
          </p>
          <p class="topscore__card__date">
            December 24, 2018
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="newsletter" id="newsletter">
    <div class="newsletter__box">
      <p class="section__caption">Want to stay in touch?</p>
      <h2 class="section__header">NEWSLETTER SUBSCRIBE</h2>
      <p class="section__caption-2">In order to start receiving our news, all you have to do is enter your email
        address. Everything else will be taken care of by us. We will send you emails containing informations
        about our games. We don't spam.</p>

      <form class="form-inline">
        <label class="sr-only" for="inlineFormInputEmail">Email</label>
        <input type="email" class="form-control form-control-lg mb-2 mr-sm-2 newsletter__form" id="inlineFormInputEmail"
          placeholder="youremail@binar.co.id">

        <button type="submit" class="btn mb-2 newsletter__btn">Subscribe Now</button>
      </form>
    </div>
  </div>

  <div class="footer">
    <nav class="navbar navbar-expand-lg navbar-dark footer__bg-custom">
      <ul class="navbar-nav ml-auto footer__collapse">
        <li class="nav-item"><a class="nav-link footer-link" href="#intro">MAIN</a></li>
        <li class="nav-item"><a class="nav-link footer-link" href="#game">ABOUT</a></li>
        <li class="nav-item"><a class="nav-link footer-link" href="#feature">GAME FEATURES</a></li>
        <li class="nav-item"><a class="nav-link footer-link" href="#sysreq">SYSTEM REQUIREMENTS</a></li>
        <li class="nav-item"><a class="nav-link footer-link" href="#topscore">QUOTES</a></li>
      </ul>
      <ul class="navbar-nav ml-auto footer__collapse">
        <li class="nav-item"><a href="#" class="nav-link footer-link">
            <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z"
                fill="white" />
            </svg></a></li>
        <li class="nav-item"><a href="#" class="nav-link footer-link">
            <svg class="footer__twitter" width="20" height="20" viewBox="0 0 19 15" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path opacity="1"
                d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z"
                fill="white" />
            </svg></a></li>
        <li class="nav-item"><a href="#" class="nav-link footer-link">
            <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z"
                fill="#FF1313" />
            </svg></a></li>
        <li class="nav-item"><a href="#" class="nav-link footer-link">
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M19.9602 13.6252V9.5538V0.680176H2.93894L0.811279 2.97688V15.0868H6.13043V18.845H8.47085L11.024 16.1307H17.407L19.9602 13.6252ZM7.40694 13.4165H4.00268C3.76864 13.4165 3.57715 13.2286 3.57715 12.9989V2.76817C3.57715 2.5385 3.76864 2.35059 4.00268 2.35059H17.6197C17.8537 2.35059 18.0452 2.5385 18.0452 2.76817V10.7022C18.0452 10.8171 18.0027 10.9215 17.9229 10.9998L15.5825 13.2965C15.5027 13.3748 15.391 13.4165 15.2793 13.4165H11.3697L8.07183 15.6401C8.00268 15.6871 7.91757 15.7132 7.83247 15.7132C7.76332 15.7132 7.69949 15.6976 7.63566 15.6662C7.49204 15.5932 7.40694 15.4522 7.40694 15.2956V13.4165Z"
                fill="white" />
              <path d="M13.79 9.76274V5.58691H12.0878V9.76274H13.79ZM9.53465 9.76274V5.58691H7.83252V9.76274H9.53465Z"
                fill="white" />
            </svg></a></li>
      </ul>
    </nav>
    <hr class="footer__line">
    <nav class="navbar navbar-expand-lg navbar-dark footer__bg-custom">
      <p class="footer__copy">2018 Your Games, Inc. All Rights Reserved</p>
      <ul class="navbar-nav ml-auto footer__collapse">
        <li class="nav-item"><a class="nav-link footer-link" href="#">PRIVACY POLICY</a></li>
        <li class="nav-item"><a class="nav-link footer-link" href="#">TERMS OF SERVICES</a></li>
        <li class="nav-item"><a class="nav-link footer-link" href="#">CODE OF CONDUCT</a></li>
      </ul>
    </nav>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <%- include('./partials/script-token.ejs') %>


</body>

</html>