<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link href="<%=process.env.APP_URL%>/css/font-face.css" rel="stylesheet" media="all">
    <link href="<%=process.env.APP_URL%>/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="<%=process.env.APP_URL%>/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet"
        media="all">
    <link href="<%=process.env.APP_URL%>/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet"
        media="all">

    <!-- Bootstrap CSS-->
    <link href="<%=process.env.APP_URL%>/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Main CSS-->
    <link href="<%=process.env.APP_URL%>/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <nav class="navbar navbar-expand-lg navbar-dark  justify-content-end" style="background-color: #383737;">
        <a class="navbar-brand" href="<%= process.env.APP_URL%>/"><svg width="2em" height="2em" viewBox="0 0 16 16"
                class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="<%=process.env.APP_URL%>/auth/register">SIGN UP</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page-wrapper" style="background-color: #383737;">
        <div class="page-content--bge5" style="background-color: #383737;">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content" style="background-color: rgb(15, 14, 14);">
                        <div class="login-logo mr-sm-7">
                            <h3 style="color: white;">LOGIN</h3>
                        </div>
                        <div class="login-form">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input class="au-input au-input--full" type="email" name="email"
                                        placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="au-input au-input--full" type="password" name="password"
                                        placeholder="Password">
                                </div>
                                <button class="au-btn au-btn--block btn btn-warning m-b-20" id="submit-btn"
                                    type="submit">sign
                                    in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="<%=process.env.APP_URL%>/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="<%=process.env.APP_URL%>/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="<%=process.env.APP_URL%>/vendor/bootstrap-4.1/bootstrap.min.js"></script>

    <!-- Main JS-->
    <script src="<%=process.env.APP_URL%>/js/main.js"></script>

    <script>

        $("form").click(function (event) {
            event.preventDefault();
        });

        $("#submit-btn").click(function (event) {
            const email = $("input[name=email]").val();
            const password = $("input[name=password]").val();

            fetch(
                '/auth/login',
                {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email: email, password: password })
                })
                .then(result => result.json())
                .then(data => {
                    console.log(data)
                    if (!data.token) {
                        alert('Wrong combination of email and/or password. If you are new here, please sign up.')
                    } else {
                        document.cookie = `token=${data.token};path=/`
                        window.location.href = '/'
                    }
                }
                )
        });


    </script>

</body>

</html>
<!-- end document-->