<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>

  <link href="<%=process.env.APP_URL%>/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link href="<%=process.env.APP_URL%>/css/profile.css" rel="stylesheet" media="all">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark  justify-content-end" style="background-color: #000000;">
    <a class="navbar-brand" href="<%=process.env.APP_URL%>/"><svg width="2em" height="2em" viewBox="0 0 16 16"
        class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="<%=process.env.APP_URL%>/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="avatar-flip">
      <img src="./images/icon/profile-icon-png-898.png" height="150" width="150">
      <img src="./images/icon/profile-icon-png-898.png" height="150" width="150">
    </div>
    <h2>
      <%=decoded.name%>
    </h2>
    <h4>Id : <%=decoded.id%>
    </h4>
    <h3>Email : <%=decoded.email%>
    </h3>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Edit</button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">Please enter your name</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">Username</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Jquery JS-->
  <script src="<%=process.env.APP_URL%>/vendor/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap JS-->
  <script src="<%=process.env.APP_URL%>/vendor/bootstrap-4.1/popper.min.js"></script>
  <script src="<%=process.env.APP_URL%>/vendor/bootstrap-4.1/bootstrap.min.js"></script>

  <!-- Main JS-->
  <script src="<%=process.env.APP_URL%>/js/main.js"></script>

</body>

</html>