<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Room Page</title>

  <!-- Font Icon -->
  <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <!-- Main css -->
  <link rel="stylesheet" href="<%=process.env.APP_URL%>/css/room.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark  justify-content-end" style="background-color: #000000;">
    <a class="navbar-brand" href="<%=process.env.APP_URL%>/"><svg width="2em" height="2em" viewBox="0 0 16 16"
        class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="<%=process.env.APP_URL%>/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <form name="formRoom" action="room.ejs" method="post" onsubmit="return validateForm()"> -->
  <div class="container">
    <form id="booking-form" class="booking-form" method="POST">
      <div class="form-group">
        <div class="form-destination">
          <h2>ROOM</h2>
          <h1>Create Name : </h1>
          <input type="text" id="destination" name="destination" placeholder="room name" required />
        </div>
        <div class="form-submit">
          <input id="submit-btn" class="submit" value="create" />
        </div>
      </div>
    </form>
    <div style="margin: 0 0 2rem 5rem; font-size:1.25rem">
      <a href="<%=process.env.APP_URL%>/history">See History</a>
    </div>
    <br>
    <div class="list">
      <table>
        <tr>
          <th>No.</th>
          <th>Room Name</th>
          <th>Action</th>
          <th>Status</th>
        </tr>
        <tbody>
          <% Object.keys(data).forEach((prop)=> { %>
            <tr>
              <td>
                <%- parseInt(prop)+1 %>
              </td>
              <td>
                <%- data[prop].roomName %>
              </td>
              <% if (decoded.id===data[prop].player1 || decoded.id===data[prop].player2) { %>
                <td><a id="enter-btn" href="<%=process.env.APP_URL%>/room/<%= data[prop].roomName %>">
                    <%if (data[prop].status==='finished' ) {%>
                      VIEW
                      <%} else {%>
                        ENTER
                        <%}%>
                  </a></td>
                <% } else if(decoded.id !==data[prop].player1 && data[prop].player2===null ) { %>
                  <td><a href="#" id="join-btn"
                      onclick="joinFunction('<%=process.env.APP_URL%>/api/v1/room/<%= data[prop].roomName %>')">JOIN</a>
                  </td>
                  <% } else {%>
                    <td><a href="#" style="text-decoration: none;color: #c4c4c4;">FULL</a></td>
                    <% } %>
                      <td>
                        <%- data[prop].status %>
                      </td>
            </tr>
        </tbody>
        <% }) %>
      </table>
    </div>
  </div>
  </div>

  <span id='decodedEjs' hidden>
    <%= JSON.stringify(decoded) %>
  </span>

  <script src="<%=process.env.APP_URL%>/vendor/jquery-3.2.1.min.js"></script>

  <script>
    let decoded = JSON.parse($('#decodedEjs').text());
    $('#decodedEjs').remove();

    const joinFunction = (url) => {
      const requestOptions = {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${document.cookie.split('=')[1]}`
        },
        body: JSON.stringify({ player2: decoded.id, status: 'ongoing' }),
        redirect: 'follow'
      }

      fetch(url, requestOptions)
        .then(response => response.json())
        .then(result => {
          if (result.message !== 'Unauthorized') {
            alert('You have joined the room')
            window.location.href = `/room/${result.roomName}`
          } else {
            alert('Error you are not authorized')
          }
        })
        .catch(() => res.status(500).json({ message: 'Internal Server Error' }),)
    }

    $('#destination').on('keydown', function () {
      let $this = $(this);
      let value = $this.val();
      $this.val(value.replace(/\s+/g, '')); // remove all whitespace characters
    });

    $("form").click(function (event) {
      event.preventDefault();
    });

    $("#submit-btn").click(function (event) {
      if (!validateForm()) {
        return
      }

      const userId = '<%= decoded.id%>'
      const roomName = $('input[name=destination]').val();

      fetch(
        '/room',
        {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ userId, roomName })
        })
        .then(result => {
          console.log(result)
          result.json()
        })
        .then(data => {
          console.log(data)
          window.location.href = '/room'
        }
        ).catch(() => res.status(500).json({ message: 'Internal Server Error' }),)
    });

    function validateForm() {
      if (document.forms["booking-form"]["destination"].value == "") {
        alert("Room Name Cannot Empty");
        document.forms["booking-form"]["destination"].focus();
        return false;
      }
      return true
    }

  </script>

</body>

</html>